.profile {
  margin: 20px auto;
  width: 200px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  margin-top: 0;
  font-style: 24px;
  text-align: center;
  color: rgb(17, 17, 17);
  font-weight: 700;
}

.tag {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: rgb(83, 87, 86);
}

.location {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: rgb(83, 87, 86);
}
.stats {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(232, 238, 235);
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(148, 150, 149);
}

.label {
  font-size: 12px;
  color: rgb(102, 102, 102);
  font-weight: bold;
}

.quantity {
  font-size: 14px;
  font-weight: bold;
}
